doctype html
html
  head
    meta(charset='utf-8')
    meta(name='renderer' content='webkit')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 消防产品库管理平台
    link(rel='shortcut icon' href=require('./favicon.ico') type='image/x-icon')
  body
    div.react-app#react-app(data-app)
    div.file-preview#file-preview(data-lantu-file-preview)
    script(type='text/javascript' src=require('./webConfig'))
    script(type='text/javascript' src=require('jquery/dist/jquery.min'))
    script(type='text/javascript' src=require('../.dll/dll'))